<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find tiago_controller)/config/tiago_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_stop_robot_framework" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="stop tiago_controller"/>

  <node name="start_controller_arm" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="start arm_controller"/>
  <node name="start_controller_head" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="start head_controller"/>
  <node name="start_controller_torso" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="start torso_controller"/>
  <node name="start_controller_mobile_base" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="start mobile_base_controller"/>
  <node name="start_controller_gripper" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="start gripper_controller"/>

</launch>
